<nav class="flex justify-between items-center w-full p-4 mb-3">
  <div class="flex items-center gap-4">
    <a href="">
      <img ngSrc="images/logo-baf-music.png" alt="logo" width="64" height="64" priority />
    </a>
    <button class="btn btn-ghost">Cours</button>
    <button class="btn btn-ghost">Actus</button>
    <button class="btn btn-ghost">Pricing</button>
  </div>
  <div class="flex items-center gap-4">
    <button class="btn btn-ghost">Connexion</button>
    <button class="btn btn-soft btn-accent">Créer un compte</button>
  </div>
</nav>
