<nav class="flex justify-between items-center w-full p-4 mb-12">
  <div class="flex items-center gap-4">
    <a href="">
      <img ngSrc="images/logo-baf-music.png" alt="logo" width="64" height="64" priority />
    </a>
    <button type="button" class="btn btn-ghost text-gray-400 hover:text-white">Tutos</button>
    <button type="button" class="btn btn-ghost text-gray-400 hover:text-white">Formations</button>
    <button type="button" class="btn btn-ghost text-gray-400 hover:text-white">Actus</button>
    <button type="button" class="btn btn-ghost text-gray-400 hover:text-white">Pricing</button>
  </div>
  <div class="flex items-center gap-4">
    <button type="button" class="btn btn-ghost" routerLink="/auth/login">Connexion</button>
    <button type="button" class="btn btn-soft btn-accent" routerLink="/auth/sign-up">
      Créer un compte
    </button>
  </div>
</nav>
